

@{
    Layout = null;
}
@model TaiKhoan

@**@

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="../Login/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../Login/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../Login/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../Login/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../Login/css/nouislider.min.css">
    <link rel="stylesheet" href="../Login/css/ionicons.min.css">
    <link rel="stylesheet" href="../Login/css/plyr.css">
    <link rel="stylesheet" href="../Login/css/photoswipe.css">
    <link rel="stylesheet" href="../Login/css/default-skin.css">
    <link rel="stylesheet" href="../Login/css/main.css">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="../Login/icon/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="../Login/icon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../Login/icon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../Login/icon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../Login/icon/apple-touch-icon-144x144.png">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Dmitry Volkov">
    <title>FlixGo – Online Movies, TV Shows & Cinema HTML Template</title>

</head>
<body class="body">

    <div class="sign section--bg" data-bg="../Login/img/section/section.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="sign__content">
                        <!-- authorization form -->
                        @*<div class="sign__form">*@
                        
                        @using (Html.BeginForm("register", "LogIn", FormMethod.Post)){
                            <a href="index.html" class="sign__logo" >
                                <center><img src="../Login/img/logo.svg" alt="" style="margin-bottom:50px " ></center>
                            </a>

                            <div class="sign__group">
                                 @Html.TextBoxFor(x=>x.TenTaiKhoan, new{@class="sign__input", placeholder="Username", required="required", autofocus="autofocus"})
                                 @*<input type="text" class="sign__input" placeholder="Email">*@
                            </div>

                            <div class="sign__group">
                                    @Html.TextBoxFor(x=>x.PassWord, new{@class="sign__input",type="Password", placeholder="Password"})
                                  @*<input type="password" class="sign__input" placeholder="Password">*@
                            </div>
                                <div class="sign__group">
                                    @Html.TextBoxFor(x=>x.PassWord, new{@class="sign__input",type="Password", placeholder="Nhập lại Password"})
                                    @*<input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">*@
                                </div>

                            <div class="sign__group sign__group--checkbox">
                                <input id="remember" name="remember" type="checkbox" checked="checked">
                                <label for="remember">Remember Me</label>
                            </div>
                                <button class="sign__btn" type="submit">SIGN UP</button>
                                @*<button class="sign__btn" type="button">Sign in</button>*@

                                <span class="sign__text">Have an account? <a asp-controller="LogIn" asp-action="login">SIGN IN</a></span>

                            <span class="sign__text"><a href="#">Forgot password?</a></span>
                        
                        }
                        @*</div>*@
                    
                        
                        <!-- end authorization form -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JS -->
    <script src="../Login/js/jquery-3.3.1.min.js"></script>
    <script src="../Login/js/bootstrap.bundle.min.js"></script>
    <script src="../Login/js/owl.carousel.min.js"></script>
    <script src="../Login/js/jquery.mousewheel.min.js"></script>
    <script src="../Login/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="../Login/js/wNumb.js"></script>
    <script src="../Login/js/nouislider.min.js"></script>
    <script src="../Login/js/plyr.min.js"></script>
    <script src="../Login/js/jquery.morelines.min.js"></script>
    <script src="../Login/js/photoswipe.min.js"></script>
    <script src="../Login/js/photoswipe-ui-default.min.js"></script>
    <script src="../Login/js/main.js"></script>
</body>
</html>